<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a th:href="@{/roles/0}">Add Role</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each ="role : ${roles}">
            <td> <a th:href="@{/roles/{id}(id=${role.id})}"th:utext="${role.id}"></a></td>
            <td th:utext="${role.name}"></td>
        </tr>
    </table>
</div>
<a th:href="@{/persons}">Person List</a>
<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>