<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Role</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Role:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/roles/{id}(id=${id})}"
      th:object="${roleForm}" method="POST">
    Id:
    <input type="text" th:field="*{id}" disabled/>
    <br/>
    Name:
    <input type="text" th:field="*{name}" />
    <br/>
    <input type="submit" value="Save" />
</form>
<form th:action="@{/roles/{id}(id=${id})}"
      th:object="${roleForm}" th:method="delete">
    <input type="submit" value="Delete" />
</form>

<br/>
<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>
</body>
</html>